{% extends "base.html" %}
{% block content %}

    <p>Name: {{ object.name }}</p>
    <p>Description: {{ object.description }}</p>
    <p>Longitudinal: {{ object.gps_lon }}</p>
    <p>Lateral: {{ object.gps_lat }}</p>
    <img src="{{ object.photo.url }}" width="400" height="400"></img>

    {% include "competition/map.html" %}
    sad
    <p></p>
    as
    <p></p>
    sd
    <p></p>
    asd
    <p></p>
    ad
    <p></p>
    ad
    <p></p>
    asd
    <p></p>
    as
    <p></p>
    das
    <p></p>
    da
{% endblock content %}

