{% extends "base.html" %}
{% block content %}

    <p>Team: {{ object.team }}</p>
    <p>Checkpoint: {{ object.checkpoint }}</p>
    <p>Confirmed: {{ object.confirmed }}</p>
    {% if not object.confirmed %}
        {% if object.deny_reason %}
            Photo deny reason: {{ object.deny_reason }}
        {% else %}
            Waiting for confirmation.
        {% endif %}
    {% endif %}

    <p>Photo:</p>
    {% if object.photo %}
        <img src="{{ object.photo.url }}" width="400" height="400"></img>
    {% else %}
        No photo uploaded yet.
    {% endif %}
    <p>Team photo:</p>
    <img src="{{ view.extra_context.team_photo.url }}" width="400" height="400"></img></p>
    <p>Empty checkpoint photo:</p>
    <img src="{{ view.extra_context.checkpoint_photo.url }}" width="400" height="400"></img></p>


{% endblock content %}

