{% extends "base.html" %}
{% block content %}

    <p>Team:<span id="TeamName">{{ object.team.name }}</span></p>
    <p>Checkpoint:<span id="CheckpointName">{{ object.checkpoint.name }}</span></p>
    <p>Confirmed: {{ object.confirmed }}</p>
    {% if not object.confirmed %}
        {% if object.deny_reason %}
            Photo deny reason: {{ object.deny_reason }}
        {% else %}
            Waiting for confirmation.
        {% endif %}
    {% endif %}


    {% include "./components/point_photos.html" %}


{% endblock content %}

