{% extends "base.html" %}
{% load static %}
{% block content %}
    <table>
    <thead>
        <tr>
            <th colspan="3">Teams sorted by score</th>
        </tr>
      	<tr>
            <th colspan="1"> Name </th>
            <th colspan="1"> Confirmed score </th>
            <th colspan="1"> Latest point update time </th>
        </tr>
    </thead>
    <tbody id="scoreBoard">
        {% for object in object_list %}
        <tr>
            <td> <a href="{% url "team" object.team %}"> {{ object.team }} </a></td>
            <td> {{ object.points }} </td>
            <td> {{ object.latest_updated_point|date:'H:i:s' }} </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </ul>
    <script src="{% static 'js/teams.js' %}"></script>
{% endblock content %}


