{% extends "base.html" %}
{% block content %}

    <ul>Team detail:
        <li>Name: {{ object.name }}</li>
        <li>Confirmed: {{ object.confirmed }}</li>
            {% if not object.confirmed %}
                {% if object.deny_reason %}
                    Photo deny reason: {{ object.deny_reason }}
                {% else %}
                    Waiting for confirmation.
                {% endif %}
            {% endif %}
    </ul>

    <p>Photo:</p>
    {% if not object.confirmed %}
        <div>
            <a href="{% url "team_update" object.name %}"> Upload photo. </a>
        </div>
    {% endif %}
    {% if object.photo %}
        <div>
            <img src="{{ object.photo.url }}" width="400" height="400"></img>
        </div>
    {% endif %}

    <ul>Members:
        {% for member in members %}
            <li>{{ member.username }}
                {% if member.username == user.username %}
                    {{ view.extra_context.team }} <a href="{% url 'leave_team'%}"> (Leave team now!) </a>
                {% endif %}
            </li>
        {% endfor %}
        {% if not object.confirmed%}
            {% for member in invited_members %}
                <li>{{ member.username }}
                    (Pending invitation.)
                    {{ view.extra_context.team }} <a href="{% url 'delete_invitation' object.name member.username%}">Delete invitation.</a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url "add_team_member" object.name %}"> Add member. </a>
            </li>
        {% endif %}
    </ul>

{% endblock content %}

