div#checkpointTable {
    display: table;
}

div#tableRow {
    display: table-row;
}

div#tableCellDetail {
    display: table-cell;
    width: 250px;
    height: 400px;
    vertical-align: top;
}
div#tableCellMap {
    display: table-cell;
    width: 550px;
    height: 400px;
    vertical-align: top;
}