{% extends "competition/checkpoint_detail.html" %}
{% load competition_template_utils %}
{% block point %}
    {%  if user.is_authenticated %}
        Team's point:
            {% team_of_user user as team %}
            {% if team %}

                {% if point_photo.name %}
                    <img src="{{ point_photo.url }}" width="100%" height="100%"></img>
                {% else %}
                    <div>
                        Photo: Not uploaded yet
                    </div>
                {% endif %}
                <div>
                    Confirmed: {{ point_confirmed }}
                </div>
                {% if point_confirmed == False %}
                    <div>
                        {% if deny_reason %}
                            Photo deny reason: {{ deny_reason }}
                        {% else %}
                            Waiting for confirmation. Can be changed.
                        {% endif %}
                    </div>
                    {% include "competition/components/point_form.html" %}
                {% endif %}
            {% endif %}

    {% endif %}
{% endblock point %}

