{% extends "competition/checkpoint_detail.html" %}
{% load competition_template_utils %}
{% block point %}
    {%  if user.is_authenticated %}
        <ul>Team's point:
            {% team_of_user user as team %}
            {% if team %}
                <li>Confirmed: {{ point_confirmed }}</li>
                {% if point_photo.name %}
                    <li>Photo: <img src="{{ point_photo.url }}" width="400" height="400"></img></li>
                {% else %}
                    <li>Photo: Not uploaded yet</li>
                {% endif %}
                {% if point_confirmed == False %}
                    Not confirmed. Can be changed.
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Save photo">
                    </form>
                {% endif %}
            {% endif %}
        </ul>
    {% endif %}
{% endblock point %}

