<iframe height="400px" width="100%" scrolling="no" srcdoc='
<!DOCTYPE HTML>
<head>
  <title>Point map</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/lib/OpenLayers.js"></script>
</head>
<body style="margin:0px">
  <div id="map" style="height:400px"></div>
  <script>
    const point_style =
    {
        cursor : "inherit",
        fillColor : "#666666",
        fillOpacity : 0.9,
        fontColor : "#000000",
        hoverFillColor : "white",
        hoverFillOpacity : 0.8,
        hoverPointRadius : 1,
        hoverPointUnit : "%",
        hoverStrokeColor : "red",
        hoverStrokeOpacity : 1,
        hoverStrokeWidth : 0.2,
        labelAlign : "cm",
        labelOutlineColor : "white",
        labelOutlineWidth : 3,
        pointRadius : 6,
        pointerEvents : "visiblePainted",
        strokeColor : "#ee9900",
        strokeDashstyle : "solid",
        strokeLinecap : "round",
        strokeOpacity : 0.3,
        strokeWidth : 1
    }

    map = new OpenLayers.Map("map");
    map.addLayer(new OpenLayers.Layer.OSM());

    epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)

    var lonLat = new OpenLayers.LonLat( 11.974560 , 57.708870 ).transform(epsg4326, projectTo);

    var zoom=12;
    map.setCenter (lonLat, zoom);
    // map.viewPortDiv.style["overflow"]="visible";
    map.viewPortDiv.style["position"]="absolute";
    map.viewPortDiv.style["z-index"]="900";

    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");

    // Define markers as "features" of the vector layer:
    {% for object in objects %}
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{ object.gps_lon }}, {{ object.gps_lat }} ).transform(epsg4326, projectTo),
            {description:"This is the value of<br>{{ object.gps_lon }}, {{ object.gps_lat }}"} ,
            {externalGraphic: "/images/marker.PNG", graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );
    vectorLayer.addFeatures(feature);
    {% endfor %}

    {% for user in users %}
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{ user.gps_lon }}, {{ user.gps_lat }} ).transform(epsg4326, projectTo),
            {description:"This is the value of<br>{{ user.gps_lon }}, {{ user.gps_lat }}"},
            ({...point_style,...JSON.parse(&#39;{{ user.style }}&#39;)})
        );
    vectorLayer.addFeatures(feature);
    {% endfor %}

    map.addLayer(vectorLayer);

    //Add a selector control to the vectorLayer with popup functions
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
    };

    function createPopup(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          "<div >"+feature.attributes.description+"</div>",
          null,
          true,
          function() { controls["selector"].unselectAll(); }
      );
      //feature.popup.closeOnMove = true;
      map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }

    map.addControl(controls["selector"]);
    controls["selector"].activate();
  </script>
  
</body>
'></iframe>